{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
  <div class="overlay">
    <div class="login-box">
      <button class="close-btn" ><a href="/ ">&times;</a></button>
      <h2>LOGIN</h2>
      <form method="POST" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="input-group">
              <label for="email">Email:</label>
              <input type="email" name="email" id="email" placeholder="Enter your email" required>
          </div>

          <div class="input-group">
              <label for="password">Password:</label>
              <input type="password" name="password" id="password" placeholder="Enter your password" required>
          </div>

          <!-- Submit Button -->
          <button type="submit" class="submit-btn">Login</button>
          <h2>Login</h2>



          <!-- Google Login -->
          <a href="{% provider_login_url 'google' %}">
              <button style="background:#4285F4; color:white; padding:10px; border:none; border-radius:5px;">
                  <img src="https://developers.google.com/identity/images/g-logo.png" width="20" style="vertical-align:middle; margin-right:8px;">
                  Login with Google
              </button>
          </a>
      </form>
      <p class="signup-text">Don’t Have an Account? <a href="#">Sign Up</a></p>
    </div>
  </div>
</body>
</html>
