{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
  <div class="overlay">
    <div class="login-box">
      <button class="close-btn" ><a href="/ ">&times;</a></button>
      <h2>LOGIN</h2>
      <form method="POST" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="input-group">
            <label for="login">Username:</label>
            <input type="username" name="username" id="username" placeholder="Enter your username" required>
          </div>

          <div class="input-group">
              <label for="password">Password:</label>
              <input type="password" name="password" id="password" placeholder="Enter your password" required>
          </div>

          <!-- Submit Button -->
          <button type="submit" class="submit-btn">Login</button>
          



          <!-- Google Login -->
          <a href="{% provider_login_url 'google' %}"
            style="display:inline-block; background:#4285F4; color:white; padding:10px 15px; margin: 25px;
                    border-radius:5px; text-decoration:none; font-weight:bold;">
            <img src="https://developers.google.com/identity/images/g-logo.png" width="20"
                style="vertical-align:middle; margin-right:8px;">
            Continue with Google
          </a>
      </form>
      <p class="signup-text">Don’t Have an Account? <a href="signup">Sign Up</a></p>
    </div>
  </div>
</body>
</html>
