{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'signup.css' %}">
</head>
<body>
  <div class="overlay">
    <div class="login-box">
      <button class="back-btn" ><a href="login">&lt;</a></button>
      <button class="close-btn" ><a href="/ ">&times;</a></button>
      <h2>SIGN UP</h2>
      <form method="POST" action="{% url 'signup' %}">
          {% csrf_token %}
          {% if form.non_field_errors %}
          <div class="nonfield">
              {{ form.non_field_errors }}
          </div>
          {% endif %}

          <div class="input-group">
              {{ form.username.label_tag }}
              {{ form.username }}
              {{ form.username.errors }}
          </div>
      
          <div class="input-group">
              {{ form.email.label_tag }}
              {{ form.email }}
              {{ form.email.errors }}
          </div>
      
          <div class="input-group">
              {{ form.password1.label_tag }}
              {{ form.password1 }}
              {{ form.password1.errors }}
          </div>
      
          <div class="input-group">
              {{ form.password2.label_tag }}
              {{ form.password2 }}
              {{ form.password2.errors }}
          </div>

          <!-- Submit Button -->
          <button type="submit" class="submit-btn">Sign up</button>
          
      </form>
    </div>
  </div>
</body>
</html>
