.frame1styear-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.frame1styear-frame1styear {
  width: 100%;
  height: 2578px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(44, 44, 45, 0.4300000071525574);
}
 
.frame1styear-group5 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 2578px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.frame1styear-rectangle2 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 859px;
  position: absolute;
}
 
.frame1styear-rectangle5 {
  top: 1718.6666259765625px;
  left: 4.547473508864641e-13px;
  width: 1440px;
  height: 859px;
  position: absolute;
}
 
.frame1styear-rectangle41 {
  top: 1718.6666259765625px;
  left: 1440px;
  width: 1440px;
  height: 859px;
  position: absolute;
}
 
.frame1styear-group6 {
  top: -5px;
  left: 0px;
  width: 1440px;
  height: 85px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.frame1styear-rectangle3 {
  top: 5px;
  left: 0px;
  width: 1440px;
  height: 80px;
  opacity: 0.70;
  position: absolute;
}
 
.frame1styear-pplogo1 {
  top: 0px;
  left: 1326px;
  width: 85px;
  height: 85px;
  position: absolute;
}
 
.frame1styear-coin {
  top: 23px;
  left: 1133px;
  width: 50px;
  height: 43px;
  position: absolute;
}
 
.frame1styear-rectangle42 {
  top: 18px;
  left: 1123px;
  width: 166px;
  height: 53px;
  opacity: 0.40;
  position: absolute;
  border-radius: 40px;
}
 
.frame1styear-doclogo21 {
  top: 12px;
  left: 0px;
  width: 335px;
  height: 70px;
  position: absolute;
}
 
.frame1styear-text10 {
  top: 22px;
  left: 1182px;
  color: rgba(255, 255, 255, 1);
  width: 94px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: center;
  font-family: Jomhuria;
  font-weight: 400;
  line-height: 55px;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame1styear-component1 {
  top: 7px;
  left: 442px;
  width: 117px;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.frame1styear-rectangle91 {
  top: 0px;
  left: 0px;
  width: 117px;
  height: 66px;
  opacity: 0.00;
  position: absolute;
}
 
.frame1styear-text11 {
  top: 11px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: ExtraLight;
  text-align: center;
  font-family: Josefin Sans;
  font-weight: 200;
  line-height: 55px;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame1styear-component2 {
  top: 4px;
  left: 656px;
  width: 117px;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.frame1styear-rectangle92 {
  top: 0px;
  left: 0px;
  width: 117px;
  height: 66px;
  opacity: 0.00;
  position: absolute;
}
 
.frame1styear-text12 {
  top: 11px;
  left: -26px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: ExtraLight;
  text-align: center;
  font-family: Josefin Sans;
  font-weight: 200;
  line-height: 55px;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame1styear-component3 {
  top: 5px;
  left: 870px;
  width: 117px;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.frame1styear-rectangle93 {
  top: 0px;
  left: 0px;
  width: 117px;
  height: 66px;
  opacity: 0.00;
  position: absolute;
}
 
.frame1styear-text13 {
  top: 11px;
  left: -22px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: ExtraLight;
  text-align: center;
  font-family: Josefin Sans;
  font-weight: 200;
  line-height: 55px;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame1styear-rectangle12 {
  top: 80px;
  left: 1px;
  width: 1440px;
  height: 2498px;
  opacity: 0.75;
  position: absolute;
}
 
.frame1styear-rectangle17 {
  top: 272px;
  left: 150px;
  width: 940px;
  height: 85px;
  opacity: 0.80;
  position: absolute;
  border-radius: 70px;
}
 
.frame1styear-rectangle18 {
  top: 272px;
  left: 1103px;
  width: 186px;
  height: 85px;
  opacity: 0.80;
  position: absolute;
  border-radius: 50px;
}
 
.frame1styear-text14 {
  top: 290px;
  left: 1198px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Josefin Sans;
  font-weight: 400;
  line-height: 25px;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame1styear-add125608232 {
  top: 286px;
  left: 1132px;
  width: 57px;
  height: 57px;
  position: absolute;
}
 
.frame1styear-text18 {
  top: 155px;
  left: 466px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 96px;
  font-style: Bold;
  text-align: center;
  font-family: Josefin Sans;
  font-weight: 700;
  line-height: 55px;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame1styear-text19 {
  top: 505px;
  left: 39px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: center;
  font-family: Josefin Sans;
  font-weight: 400;
  line-height: 25px;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame1styear-group19 {
  top: 545px;
  left: 150px;
  width: 1139px;
  height: 441px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
 
.frame1styear-group20 {
  top: 1036px;
  left: 150px;
  width: 1139px;
  height: 441px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
 
.frame1styear-group21 {
  top: 1527px;
  left: 150px;
  width: 1139px;
  height: 441px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
 
.frame1styear-searchicon2 {
  top: 295px;
  left: 196px;
  width: 45px;
  height: 45px;
  position: absolute;
}
 
.frame1styear-text20 {
  top: 300px;
  left: 480px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: SemiBold;
  text-align: center;
  font-family: Josefin Sans;
  font-weight: 600;
  line-height: 55px;
  font-stretch: normal;
  text-decoration: none;
}
