.impques-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.impquesimpques {
  width: 100%;
  height: 2578px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(44, 44, 45, 0.4300000071525574);
}
 
.impques-group5 {
  top: 0px;
  left: 0px;
  width: 1440.0001220703125px;
  height: 3072px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.impques-rectangle2 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 1024px;
  position: absolute;
}
 
.impques-rectangle5 {
  top: 2048px;
  left: 0px;
  width: 1440px;
  height: 1024px;
  position: absolute;
}
 
.impques-rectangle41 {
  top: 2048px;
  left: 1439.9998779296875px;
  width: 1440px;
  height: 1024px;
  position: absolute;
}
 
.impques-group6 {
  top: -5px;
  left: 0px;
  width: 1440px;
  height: 85px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.impques-rectangle3 {
  top: 5px;
  left: 0px;
  width: 1440px;
  height: 80px;
  opacity: 0.50;
  position: absolute;
}
 
.impques-pplogo1 {
  top: 0px;
  left: 1326px;
  width: 85px;
  height: 85px;
  position: absolute;
}
 
.impques-coin {
  top: 23px;
  left: 1133px;
  width: 50px;
  height: 43px;
  position: absolute;
}
 
.impques-rectangle42 {
  top: 18px;
  left: 1123px;
  width: 166px;
  height: 53px;
  opacity: 0.40;
  position: absolute;
  border-radius: 40px;
}
 
.impques-doclogo21 {
  top: 12px;
  left: 0px;
  width: 335px;
  height: 70px;
  position: absolute;
}
 
.impques-text10 {
  top: 22px;
  left: 1182px;
  color: rgba(255, 255, 255, 1);
  width: 94px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: center;
  font-family: Jomhuria;
  font-weight: 400;
  line-height: 55px;
  font-stretch: normal;
  text-decoration: none;
}
 
.impques-component1 {
  top: 7px;
  left: 442px;
  width: 117px;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.impques-rectangle91 {
  top: 0px;
  left: 0px;
  width: 117px;
  height: 66px;
  opacity: 0.00;
  position: absolute;
}
 
.impques-text11 {
  top: 11px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: ExtraLight;
  text-align: center;
  font-family: Josefin Sans;
  font-weight: 200;
  line-height: 55px;
  font-stretch: normal;
  text-decoration: none;
}
 
.impques-component2 {
  top: 4px;
  left: 656px;
  width: 117px;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.impques-rectangle92 {
  top: 0px;
  left: 0px;
  width: 117px;
  height: 66px;
  opacity: 0.00;
  position: absolute;
}
 
.impques-text12 {
  top: 11px;
  left: -26px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: ExtraLight;
  text-align: center;
  font-family: Josefin Sans;
  font-weight: 200;
  line-height: 55px;
  font-stretch: normal;
  text-decoration: none;
}
 
.impques-component3 {
  top: 5px;
  left: 870px;
  width: 117px;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.impques-rectangle93 {
  top: 0px;
  left: 0px;
  width: 117px;
  height: 66px;
  opacity: 0.00;
  position: absolute;
}
 
.impques-text13 {
  top: 11px;
  left: -22px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: ExtraLight;
  text-align: center;
  font-family: Josefin Sans;
  font-weight: 200;
  line-height: 55px;
  font-stretch: normal;
  text-decoration: none;
}
 
.impques-rectangle12 {
  top: 80px;
  left: 0px;
  width: 1440px;
  height: 2498px;
  opacity: 0.50;
  position: absolute;
}
 
.impques-group13 {
  top: 337px;
  left: 97px;
  width: 385px;
  height: 172px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
 
.impques-group12 {
  top: 58px;
  left: 61px;
  width: 263px;
  height: 55px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.impques-downarrow1148863411 {
  top: 0px;
  left: 210px;
  width: 53px;
  height: 53px;
  position: absolute;
}
 
.impques-text14 {
  color: rgba(10, 10, 10, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: SemiBold;
  text-align: center;
  font-family: Josefin Sans;
  font-weight: 600;
  line-height: 55px;
  font-stretch: normal;
  text-decoration: none;
}
 
.impques-group14 {
  top: 336px;
  left: 527px;
  width: 385px;
  height: 172px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
 
.impques-downarrow1148863412 {
  top: 58px;
  left: 271px;
  width: 53px;
  height: 53px;
  position: absolute;
}
 
.impques-text15 {
  top: 58px;
  left: 55px;
  color: rgba(10, 10, 10, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: SemiBold;
  text-align: center;
  font-family: Josefin Sans;
  font-weight: 600;
  line-height: 55px;
  font-stretch: normal;
  text-decoration: none;
}
 
.impques-group15 {
  top: 335px;
  left: 957px;
  width: 385px;
  height: 172px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
 
.impques-downarrow1148863413 {
  top: 58px;
  left: 271px;
  width: 53px;
  height: 53px;
  position: absolute;
}
 
.impques-text16 {
  top: 58px;
  left: 52px;
  color: rgba(10, 10, 10, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: SemiBold;
  text-align: center;
  font-family: Josefin Sans;
  font-weight: 600;
  line-height: 55px;
  font-stretch: normal;
  text-decoration: none;
}
 
.impques-text17 {
  top: 175px;
  left: 118px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 96px;
  font-style: Bold;
  text-align: center;
  font-family: Josefin Sans;
  font-weight: 700;
  line-height: 55px;
  font-stretch: normal;
  text-decoration: none;
}
 
.impques-rectangle14 {
  top: 533px;
  left: 97px;
  width: 385px;
  height: 491px;
  opacity: 0.50;
  position: absolute;
  border-radius: 50px;
}
 
.impques-text18 {
  top: 646px;
  left: 197px;
  color: rgba(10, 10, 10, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: SemiBold;
  text-align: center;
  font-family: Josefin Sans;
  font-weight: 600;
  line-height: 55px;
  font-stretch: normal;
  text-decoration: none;
}
 
.impques-text19 {
  top: 751px;
  left: 185px;
  color: rgba(10, 10, 10, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: SemiBold;
  text-align: center;
  font-family: Josefin Sans;
  font-weight: 600;
  line-height: 55px;
  font-stretch: normal;
  text-decoration: none;
}
 
.impques-text20 {
  top: 856px;
  left: 148px;
  color: rgba(10, 10, 10, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: SemiBold;
  text-align: center;
  font-family: Josefin Sans;
  font-weight: 600;
  line-height: 55px;
  font-stretch: normal;
  text-decoration: none;
}
