@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
.home {
  display: flex;
  height: 2598px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  width: 100%;
  min-width: 1460px;
}

.home .HOME {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 2578px;
  align-items: center;
  gap: 401.28px;
  position: relative;
  background-color: #2c2c2d6e;
  box-shadow: 0px 4px 4px #00000040;
}

.home .BACKGROUND {
  display: flex;
  width: 1440px;
  height: 2578px;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.home .group {
  position: relative;
  width: 1440px;
  height: 2578px;
}

.home .rectangle {
  position: absolute;
  width: 1440px;
  height: 859px;
  top: 0;
  left: 0;
}

.home .img {
  position: absolute;
  width: 1440px;
  height: 859px;
  top: 1719px;
  left: 0;
}

.home .rectangle-2 {
  position: absolute;
  width: 1440px;
  height: 859px;
  top: 859px;
  left: 0;
}

.home .header {
  display: flex;
  width: 1440px;
  height: 85px;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  background-color: transparent;
  box-shadow: 0px 4px 4px #00000040;
}

.home .overlap-wrapper {
  position: relative;
  width: 1442px;
  height: 85px;
  margin-right: -2.00px;
}

.home .overlap {
  position: relative;
  width: 1440px;
  height: 85px;
}

.home .div {
  position: absolute;
  width: 1440px;
  height: 80px;
  top: 5px;
  left: 0;
  background-color: #d9d9d9;
  opacity: 0.15;
}

.home .pp-logo {
  position: absolute;
  width: 85px;
  height: 85px;
  top: 0;
  left: 1326px;
  aspect-ratio: 1;
  object-fit: cover;
}

.home .coin {
  position: absolute;
  width: 50px;
  height: 43px;
  top: 23px;
  left: 1133px;
  aspect-ratio: 1.15;
}

.home .overlap-group {
  position: relative;
  width: 48px;
  height: 42px;
  top: 1px;
  left: 1px;
  background-image: url(./img/vector-6.svg);
  background-size: 100% 100%;
}

.home .vector {
  position: absolute;
  width: 41px;
  height: 35px;
  top: 3px;
  left: 4px;
}

.home .vector-2 {
  position: absolute;
  width: 22px;
  height: 35px;
  top: 3px;
  left: 22px;
}

.home .vector-3 {
  position: absolute;
  width: 26px;
  height: 15px;
  top: 17px;
  left: 13px;
}

.home .vector-4 {
  position: absolute;
  width: 7px;
  height: 23px;
  top: 11px;
  left: 22px;
}

.home .vector-5 {
  position: absolute;
  width: 9px;
  height: 3px;
  top: 25px;
  left: 21px;
}

.home .vector-6 {
  position: absolute;
  width: 26px;
  height: 15px;
  top: 16px;
  left: 11px;
}

.home .vector-7 {
  position: absolute;
  width: 7px;
  height: 23px;
  top: 10px;
  left: 21px;
}

.home .vector-8 {
  position: absolute;
  width: 9px;
  height: 3px;
  top: 23px;
  left: 20px;
}

.home .rectangle-3 {
  position: absolute;
  width: 166px;
  height: 53px;
  top: 18px;
  left: 1123px;
  background-color: #d9d9d9;
  border-radius: 40px;
  opacity: 0.4;
}

.home .doc-logo {
  position: absolute;
  width: 335px;
  height: 70px;
  top: 12px;
  left: 0;
  aspect-ratio: 4.77;
  object-fit: cover;
}

.home .text-wrapper {
  position: absolute;
  width: 94px;
  top: 22px;
  left: 1182px;
  font-family: "Jomhuria-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: 55px;
  white-space: nowrap;
}

.home .SEARCH-TEXT {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
  overflow: hidden;
}

.home .group-2 {
  position: relative;
  width: 694px;
  height: 195.19px;
}

.home .overlap-group-2 {
  position: absolute;
  width: 690px;
  height: 79px;
  top: 116px;
  left: 0;
  border-radius: 80px;
  border: 3px solid;
  border-color: #000000cc;
  background: linear-gradient(
    90deg,
    rgba(213, 127, 69, 0.8) 0%,
    rgba(213, 127, 69, 1) 100%
  );
}

.home .text-wrapper-2 {
  position: absolute;
  width: 304px;
  top: 9px;
  left: 180px;
  font-family: "GFS Neohellenic-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 44px;
  text-align: center;
  letter-spacing: 2.20px;
  line-height: 55px;
  white-space: nowrap;
}

.home .search-icon {
  position: absolute;
  width: 37px;
  height: 37px;
  top: 18px;
  left: 20px;
  aspect-ratio: 1;
  object-fit: cover;
}

.home .ANY-TIME-ANY-WHERE {
  position: absolute;
  width: 680px;
  top: 0;
  left: 0;
  font-family: "Jomhuria-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 80px;
  text-align: center;
  letter-spacing: 0;
  line-height: 55px;
}

.home .tiles {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.home .JEE-NEET-CARD-GRP {
  position: relative;
  width: 413.33px;
  height: 651px;
}

.home .overlap-group-3 {
  position: relative;
  width: 413px;
  height: 650px;
  top: 1px;
  background-image: url(./img/chatgpt-image-aug-3-2025-08-50-01-PM-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.home .rectangle-4 {
  position: absolute;
  width: 413px;
  height: 60px;
  top: 294px;
  left: 0;
  background-color: #f0e3d1;
}

.home .rectangle-5 {
  position: absolute;
  width: 413px;
  height: 650px;
  top: 0;
  left: 0;
  background-color: #f0494999;
  border-radius: 50px;
  box-shadow: 8px 8px 16px #7842c5;
}

.home .text-wrapper-3 {
  position: absolute;
  width: 319px;
  top: 293px;
  left: 47px;
  font-family: "GFS Neohellenic-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 64px;
  text-align: center;
  letter-spacing: 3.20px;
  line-height: 55px;
  white-space: nowrap;
}

.home .element-YEAR-CARD-GRP {
  position: relative;
  width: 416px;
  height: 650px;
}

.home .overlap-2 {
  position: relative;
  width: 414px;
  height: 650px;
}

.home .photo {
  position: absolute;
  width: 413px;
  height: 650px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.home .rectangle-6 {
  position: absolute;
  width: 413px;
  height: 60px;
  top: 294px;
  left: 1px;
  background-color: #f0e3d1;
}

.home .rectangle-7 {
  position: absolute;
  width: 413px;
  height: 650px;
  top: 0;
  left: 0;
  background-color: #94f04999;
  border-radius: 50px;
  box-shadow: 8px 8px 16px #7842c5;
}

.home .text-wrapper-4 {
  position: absolute;
  width: 308px;
  top: 295px;
  left: 54px;
  font-family: "GFS Neohellenic-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: 55px;
  white-space: nowrap;
}

.home .IMP-QUE-CARD-GRP {
  position: relative;
  width: 415.34px;
  height: 651px;
  margin-right: -2.00px;
}

.home .overlap-3 {
  position: relative;
  width: 413px;
  height: 651px;
}

.home .impq {
  position: absolute;
  width: 413px;
  height: 650px;
  top: 1px;
  left: 0;
  object-fit: cover;
}

.home .rectangle-8 {
  position: absolute;
  width: 413px;
  height: 650px;
  top: 0;
  left: 0;
  background-color: #49c1f099;
  border-radius: 50px;
  box-shadow: 8px 8px 16px #7842c5;
}

.home .IMPORTANT-QUESTIONS {
  position: absolute;
  width: 325px;
  top: 280px;
  left: 43px;
  font-family: "GFS Neohellenic-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 55px;
  text-align: center;
  letter-spacing: 0;
  line-height: 55px;
}

.home .footer {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -0.03px;
  background-color: transparent;
  box-shadow: 0px -4px 4px #00000040;
}

.home .overlap-group-wrapper {
  position: relative;
  width: 1446px;
  height: 443px;
  margin-right: -6.00px;
}

.home .overlap-group-4 {
  position: relative;
  width: 1440px;
  height: 443px;
}

.home .rectangle-9 {
  position: absolute;
  width: 1440px;
  height: 443px;
  top: 0;
  left: 0;
  background-color: #d9d9d9;
  opacity: 0.15;
}

.home .text-wrapper-5 {
  position: absolute;
  width: 202px;
  top: 34px;
  left: 68px;
  font-family: "Josefin Sans-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: 55px;
}

.home .text-wrapper-6 {
  position: absolute;
  width: 536px;
  top: 139px;
  left: 452px;
  font-family: "Josefin Sans-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: 55px;
}

.home .p {
  position: absolute;
  top: 229px;
  left: 464px;
  font-family: "Josefin Sans-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: 55px;
  white-space: nowrap;
}

.home .div-wrapper {
  position: absolute;
  width: 117px;
  height: 66px;
  top: 7px;
  left: 442px;
}

.home .text-wrapper-7 {
  position: absolute;
  top: 10px;
  left: 0;
  font-family: "Josefin Sans-ExtraLight", Helvetica;
  font-weight: 200;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: 55px;
  white-space: nowrap;
}

.home .JEE-NEET {
  position: absolute;
  width: 117px;
  height: 66px;
  top: 4px;
  left: 656px;
}

.home .text-wrapper-8 {
  position: absolute;
  top: 10px;
  left: -26px;
  font-family: "Josefin Sans-ExtraLight", Helvetica;
  font-weight: 200;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: 55px;
  white-space: nowrap;
}

.home .element-YEAR {
  position: absolute;
  width: 117px;
  height: 66px;
  top: 5px;
  left: 870px;
}

.home .text-wrapper-9 {
  position: absolute;
  top: 10px;
  left: -22px;
  font-family: "Josefin Sans-ExtraLight", Helvetica;
  font-weight: 200;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: 55px;
  white-space: nowrap;
}
